# dev packages?
dev

# Atom internal
compile-cache
packages
storage

# Apm internal
.apm

# node gyp internal
.node-gyp

# npm internal
.npm
/npm-debug.log
/node_modules

# project manager uses this file
/projects.cson
