boba_fett:
  title: "boba_fett"
  paths: [
    "/Users/1/Developer/Ensogo/boba_fett"
  ]
".atom":
  title: ".atom"
  paths: [
    "/Users/1/.atom"
  ]
death_star_clean:
  title: "death_star_clean"
  paths: [
    "/Users/1/Developer/Ensogo/death_star_clean"
  ]
